# Admin
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
TOKEN_EXPIRY_HOURS=1
FRONTEND_PORT=443

# Container Images
PYTHON_IMAGE=python:3.14.3-alpine3.23
BUN_IMAGE=oven/bun:1.3.11-alpine
NGINX_IMAGE=nginx:1.29.7-alpine3.23

# Seed Data
SEED_CURRENCIES='USD:US Dollar:$,EUR:Euro:€,GBP:British Pound:£,CAD:Canadian Dollar:C$,AUD:Australian Dollar:A$'
SEED_CATEGORIES='TAXES:Taxes,HEALTH_INSURANCE:Health Insurance,ACCOUNTING:Accounting,OTHER:Other'
SEED_BANKS='OTHER:Other'
SEED_COMPANIES='OTHER:Other'

# Database
POSTGRES_HOST=finances_database
POSTGRES_PORT=5432
POSTGRES_DB=finances
POSTGRES_USER=finances
POSTGRES_PASSWORD=finances

# Django
DJANGO_DEBUG=False
DJANGO_TIME_ZONE=UTC
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_SECRET_KEY=change-me-to-a-random-string

# PTAX
PTAX_CACHE_TTL_SECONDS=3600
PTAX_API_URL=https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata
# {PTAX_API_URL}/CotacaoMoedaDia(moeda='EUR',dataCotacao='MM-DD-YYYY')

# Logging (pythonLogs)
LOG_LEVEL=INFO
LOG_TIMEZONE=UTC
LOG_APPNAME=finances
LOG_FILENAME=finances.log
LOG_DIRECTORY=/app/logs
LOG_DAYS_TO_KEEP=30
LOG_STREAM_HANDLER=True
LOG_SHOW_LOCATION=False
LOG_ROTATE_WHEN=midnight
