# Database
POSTGRES_HOST=192.168.1.100
POSTGRES_PORT=5432
POSTGRES_DB=finances
POSTGRES_USER=finances
POSTGRES_PASSWORD=finances

# App
FINANCES_PORT=8888

# Django
DJANGO_DEBUG=false
DJANGO_SECRET_KEY=change-me-to-a-random-string
DJANGO_TIME_ZONE=America/Sao_Paulo
DJANGO_ALLOWED_HOSTS=localhost,192.168.1.100

# Logging (pythonLogs)
LOG_LEVEL=INFO
LOG_TIMEZONE=America/Sao_Paulo
LOG_APPNAME=Finances
LOG_FILENAME=finances.log
LOG_DIRECTORY=/app/logs
LOG_DAYS_TO_KEEP=30
LOG_STREAM_HANDLER=True
LOG_SHOW_LOCATION=False
LOG_ROTATE_WHEN=midnight
LOG_ROTATE_AT_UTC=True

# PTAX
PTAX_CACHE_TTL_SECONDS=3600
PTAX_API_URL=https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata/CotacaoDolarDia
# https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata/CotacaoDolarDia(dataCotacao='MM-DD-YYYY')
